<div>
    <button class="glyphicon glyphicon-plus" ng-click="OLC.add()">添加</button>
    <button class="glyphicon glyphicon-refresh" ng-click="OLC.refresh()">刷新</button>
</div>
<div class="container">
    <div class="row" ng-show="(!OLC.isLoaded && !OLC.isError)">
        <p>
            <i class="fa fa-spinner fa-spin fa-3x"></i> <b>加载中....</b>
        </p>
    </div>
    <div class="row" ng-show="OLC.isError">
        <p>
            <i class="fa fa-exclamation-triangle"></i> <b>出错啦</b>
        </p>
    </div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <td>订单日期</td>
                    <td>产品名称</td>
                    <td>总额</td>
                    <td>支付状态</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eachOrder in OLC.orderList" order-Detail order="eachOrder" deleteOrder="OLC.deleteOrder(o)">

                </tr>
            </tbody>
        </table>
    </div>
</div>